In [5]:
import pandas as pd

# Cargar archivos CSV desde el mismo directorio donde está tu notebook
dim_category = pd.read_csv('DIM_CATEGORY.csv')
fact_sales = pd.read_csv('FACT_SALES.csv')

# Cargar archivos Excel
dim_product = pd.read_excel('DIM_PRODUCT.xlsx')
dim_segment = pd.read_excel('DIM_SEGMENT.xlsx')
dim_calendar = pd.read_excel('DIM_CALENDAR.xlsx')

In [31]:
import os

# Ver todo el directorio actual
print(os.listdir())

['.anaconda', '.conda', '.condarc', '.continuum', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.ms-ad', '.virtual_documents', 'anaconda3', 'AppData', 'Configuración local', 'Contacts', 'Cookies', 'Datos de programa', 'datos_consolidados.xlsx', 'Desktop', 'DIM_CALENDAR.xlsx', 'DIM_CATEGORY.csv', 'DIM_PRODUCT.xlsx', 'DIM_SEGMENT.xlsx', 'Documentos - Acceso directo.lnk', 'Documents', 'Downloads', 'Entorno de red', 'FACT_SALES.csv', 'Favorites', 'Impresoras', 'IntelGraphicsProfiles', 'Links', 'Menú Inicio', 'Microsoft', 'Mis documentos', 'Music', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{73acdb93-e298-11ef-ae0c-b7704cacf9ce}.TM.blf', 'NTUSER.DAT{73acdb93-e298-11ef-ae0c-b7704cacf9ce}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{73acdb93-e298-11ef-ae0c-b7704cacf9ce}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'Plantillas', 'Reciente', 'Saved Games', 'Searches', 'SendTo', 'SYB66_246_202310_Population Growth, Fertility and Mortality Indicators.csv', 'Tarea M24-CD-Rafael Salinas.ipynb', 'Untitled Folder', 'Untitled.ipynb', 'Videos']

In [7]:
# Revisar DIM_CATEGORY
print("=== DIM_CATEGORY ===")
print(dim_category.head())
print(dim_category.info())
print(dim_category.describe(include='all'))

# Revisar FACT_SALES
print("\n=== FACT_SALES ===")
print(fact_sales.head())
print(fact_sales.info())
print(fact_sales.describe(include='all'))

# Revisar DIM_PRODUCT
print("\n=== DIM_PRODUCT ===")
print(dim_product.head())
print(dim_product.info())
print(dim_product.describe(include='all'))

# Revisar DIM_SEGMENT
print("\n=== DIM_SEGMENT ===")
print(dim_segment.head())
print(dim_segment.info())
print(dim_segment.describe(include='all'))

# Revisar DIM_CALENDAR
print("\n=== DIM_CALENDAR ===")
print(dim_calendar.head())
print(dim_calendar.info())
print(dim_calendar.describe(include='all'))

=== DIM_CATEGORY ===
   ID_CATEGORY                        CATEGORY
0            1  FABRIC TREATMENT and SANIT\r\n
1            2                       AIR CARE
2            3                    LAVAVAJILLAS
3            4                MEGA SUPERFICIES
4            5             LAVATORY CARE & BRC
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  5 non-null      int64
 1   CATEGORY     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes
None
        ID_CATEGORY                        CATEGORY
count      5.000000                               5
unique          NaN                               5
top             NaN  FABRIC TREATMENT and SANIT\r\n
freq            NaN                               1
mean       3.000000                             NaN
std        1.581139                             NaN
min        1.000000                             NaN
25%        2.000000                             NaN
50%        3.000000                             NaN
75%        4.000000                             NaN
max        5.000000                             NaN

=== FACT_SALES ===
    WEEK         ITEM_CODE  TOTAL_UNIT_SALES  TOTAL_VALUE_SALES  \
0  34-22  7501058792808BP2             0.006              0.139
1  34-22     7501058715883             0.487            116.519
2  34-22     7702626213774             1.391             68.453
3  34-22     7501058716422             0.022              1.481
4  34-22     7501058784353             2.037            182.839

   TOTAL_UNIT_AVG_WEEKLY_SALES              REGION
0                        1.000  TOTAL AUTOS AREA 5
1                        2.916  TOTAL AUTOS AREA 5
2                        5.171  TOTAL AUTOS AREA 5
3                        1.833  TOTAL AUTOS AREA 5
4                        5.375  TOTAL AUTOS AREA 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  object
 1   ITEM_CODE                    122002 non-null  object
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.6+ MB
None
          WEEK      ITEM_CODE  TOTAL_UNIT_SALES  TOTAL_VALUE_SALES  \
count   122002         122002     122002.000000      122002.000000
unique      80            350               NaN                NaN
top      07-22  7501025405106               NaN                NaN
freq      1629            560               NaN                NaN
mean       NaN            NaN          3.211097          90.513761
std        NaN            NaN         14.496009         350.236505
min        NaN            NaN          0.000000           0.001000
25%        NaN            NaN          0.063000           2.662000
50%        NaN            NaN          0.367000          16.812000
75%        NaN            NaN          1.520000          62.961500
max        NaN            NaN        504.681000       12236.759000

        TOTAL_UNIT_AVG_WEEKLY_SALES                       REGION
count                 122002.000000                       122002
unique                          NaN                            7
top                             NaN  TOTAL AUTOS SCANNING MEXICO
freq                            NaN                        20990
mean                      10.099904                          NaN
std                       22.650142                          NaN
min                        0.042000                          NaN
25%                        2.316000                          NaN
50%                        3.993500                          NaN
75%                        8.898000                          NaN
max                      794.000000                          NaN

=== DIM_PRODUCT ===
  MANUFACTURER     BRAND           ITEM  \
0   INDS. ALEN  CLORALEX  0000075000592
1   INDS. ALEN  CLORALEX  0000075000608
2   INDS. ALEN  CLORALEX  0000075000615
3   INDS. ALEN  CLORALEX  0000075000622
4   INDS. ALEN  CLORALEX  0000075000639

                                    ITEM_DESCRIPTION  CATEGORY   FORMAT  \
0  CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...         1  LIQUIDO
1  CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...         1  LIQUIDO
2  CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...         1  LIQUIDO
3  CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...         1  LIQUIDO
4  CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...         1  LIQUIDO

   ATTR1  ATTR2        ATTR3
0  CLORO  CLORO  NO DEFINIDO
1  CLORO  CLORO  NO DEFINIDO
2  CLORO  CLORO  NO DEFINIDO
3  CLORO  CLORO  NO DEFINIDO
4  CLORO  CLORO  NO DEFINIDO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURER      505 non-null    object
 1   BRAND             505 non-null    object
 2   ITEM              503 non-null    object
 3   ITEM_DESCRIPTION  505 non-null    object
 4   CATEGORY          505 non-null    int64
 5   FORMAT            505 non-null    object
 6   ATTR1             499 non-null    object
 7   ATTR2             505 non-null    object
 8   ATTR3             499 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB
None
       MANUFACTURER     BRAND           ITEM  \
count           505       505            503
unique           20        33            503
top         RECKITT  CLORALEX  0000075000592
freq            128       115              1
mean            NaN       NaN            NaN
std             NaN       NaN            NaN
min             NaN       NaN            NaN
25%             NaN       NaN            NaN
50%             NaN       NaN            NaN
75%             NaN       NaN            NaN
max             NaN       NaN            NaN

                                         ITEM_DESCRIPTION  CATEGORY   FORMAT  \
count                                                 505     505.0      505
unique                                                505       NaN        5
top     CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...       NaN  LIQUIDO
freq                                                    1       NaN      326
mean                                                  NaN       1.0      NaN
std                                                   NaN       0.0      NaN
min                                                   NaN       1.0      NaN
25%                                                   NaN       1.0      NaN
50%                                                   NaN       1.0      NaN
75%                                                   NaN       1.0      NaN
max                                                   NaN       1.0      NaN

        ATTR1  ATTR2        ATTR3
count     499    505          499
unique      4      3           15
top     CLORO  CLORO  NO DEFINIDO
freq      243    249          137
mean      NaN    NaN          NaN
std       NaN    NaN          NaN
min       NaN    NaN          NaN
25%       NaN    NaN          NaN
50%       NaN    NaN          NaN
75%       NaN    NaN          NaN
max       NaN    NaN          NaN

=== DIM_SEGMENT ===
   CATEGORY  ATTR1  ATTR2      ATTR3   FORMAT SEGMENT
0         1  CLORO  CLORO    BAMBINO  LIQUIDO  BLEACH
1         1  CLORO  CLORO  GERMICIDA  LIQUIDO  BLEACH
2         1  CLORO  CLORO   MASCOTAS  LIQUIDO  BLEACH
3         1  CLORO  CLORO  MULTIUSOS      GEL  BLEACH
4         1  CLORO  CLORO  MULTIUSOS  LIQUIDO  BLEACH
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CATEGORY  53 non-null     int64
 1   ATTR1     53 non-null     object
 2   ATTR2     53 non-null     object
 3   ATTR3     52 non-null     object
 4   FORMAT    53 non-null     object
 5   SEGMENT   53 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.6+ KB
None
        CATEGORY        ATTR1             ATTR2       ATTR3   FORMAT  \
count       53.0           53                53          52       53
unique       NaN            4                 7          16        5
top          NaN  SAFE BLEACH  FABRIC TREATMENT  OTR. TIPOS  LIQUIDO
freq         NaN           27                37           7       24
mean         1.0          NaN               NaN         NaN      NaN
std          0.0          NaN               NaN         NaN      NaN
min          1.0          NaN               NaN         NaN      NaN
25%          1.0          NaN               NaN         NaN      NaN
50%          1.0          NaN               NaN         NaN      NaN
75%          1.0          NaN               NaN         NaN      NaN
max          1.0          NaN               NaN         NaN      NaN

             SEGMENT
count             53
unique             7
top     LIQUID & GEL
freq              16
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN

=== DIM_CALENDAR ===
    WEEK  YEAR  MONTH  WEEK_NUMBER       DATE
0  01-21  2021      1            1 2021-01-10
1  02-21  2021      1            2 2021-01-17
2  03-21  2021      1            3 2021-01-24
3  04-21  2021      1            4 2021-01-31
4  05-21  2021      2            5 2021-02-07
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    object
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ KB
None
         WEEK         YEAR       MONTH  WEEK_NUMBER                 DATE
count     156   156.000000  156.000000   156.000000                  156
unique    156          NaN         NaN          NaN                  NaN
top     01-21          NaN         NaN          NaN                  NaN
freq        1          NaN         NaN          NaN                  NaN
mean      NaN  2022.000000    6.487179    26.500000  2022-07-06 20:00:00
min       NaN  2021.000000    1.000000     1.000000  2021-01-10 00:00:00
25%       NaN  2021.000000    3.750000    13.750000  2021-10-08 06:00:00
50%       NaN  2022.000000    6.500000    26.500000  2022-07-06 12:00:00
75%       NaN  2023.000000    9.250000    39.250000  2023-04-04 18:00:00
max       NaN  2023.000000   12.000000    52.000000  2024-01-01 00:00:00
std       NaN     0.819126    3.459419    15.056667                  NaN

In [30]:
# LIMPIEZA BÁSICA DE TEXTOS
dim_category['CATEGORY'] = dim_category['CATEGORY'].astype(str).str.strip().str.replace(r'\s+', ' ', regex=True)

fact_sales['ITEM_CODE'] = fact_sales['ITEM_CODE'].astype(str).str.strip()
dim_product['ITEM'] = dim_product['ITEM'].astype(str).str.strip()

text_cols = ['MANUFACTURER', 'BRAND', 'ITEM_DESCRIPTION', 'FORMAT', 'ATTR1', 'ATTR2', 'ATTR3']
for col in text_cols:
    if col in dim_product.columns:
        dim_product[col] = dim_product[col].astype(str).str.strip()

if 'SEGMENT' in dim_segment.columns:
    dim_segment['SEGMENT'] = dim_segment['SEGMENT'].astype(str).str.strip()

In [9]:
# Mostrar cuántos nulos hay por DataFrame
print("Nulos en DIM_PRODUCT:\n", dim_product.isnull().sum())
print("Nulos en DIM_SEGMENT:\n", dim_segment.isnull().sum())
print("Nulos en DIM_CALENDAR:\n", dim_calendar.isnull().sum())
print("Nulos en FACT_SALES:\n", fact_sales.isnull().sum())
print("Nulos en DIM_CATEGORY:\n", dim_category.isnull().sum())

# Eliminar filas con ITEM nulo en DIM_PRODUCT (clave primaria)
dim_product = dim_product.dropna(subset=['ITEM'])

# Rellenar nulos con "NO DEFINIDO" en otras columnas
dim_product.fillna('NO DEFINIDO', inplace=True)
dim_segment.fillna('NO DEFINIDO', inplace=True)
dim_calendar.fillna(method='ffill', inplace=True)  # Propaga hacia adelante si faltan fechas

Nulos en DIM_PRODUCT:
 MANUFACTURER        0
BRAND               0
ITEM                0
ITEM_DESCRIPTION    0
CATEGORY            0
FORMAT              0
ATTR1               0
ATTR2               0
ATTR3               0
dtype: int64
Nulos en DIM_SEGMENT:
 CATEGORY    0
ATTR1       0
ATTR2       0
ATTR3       1
FORMAT      0
SEGMENT     0
dtype: int64
Nulos en DIM_CALENDAR:
 WEEK           0
YEAR           0
MONTH          0
WEEK_NUMBER    0
DATE           0
dtype: int64
Nulos en FACT_SALES:
 WEEK                           0
ITEM_CODE                      0
TOTAL_UNIT_SALES               0
TOTAL_VALUE_SALES              0
TOTAL_UNIT_AVG_WEEKLY_SALES    0
REGION                         0
dtype: int64
Nulos en DIM_CATEGORY:
 ID_CATEGORY    0
CATEGORY       0
dtype: int64

C:\Users\Rafael\AppData\Local\Temp\ipykernel_10780\1827218572.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dim_calendar.fillna(method='ffill', inplace=True)  # Propaga hacia adelante si faltan fechas

In [10]:
# Verificar y eliminar duplicados
dim_category.drop_duplicates(inplace=True)
fact_sales.drop_duplicates(inplace=True)
dim_product.drop_duplicates(inplace=True)
dim_segment.drop_duplicates(inplace=True)
dim_calendar.drop_duplicates(inplace=True)

In [11]:
df_ventas_productos = fact_sales.merge(
    dim_product,
    left_on='ITEM_CODE',
    right_on='ITEM',
    how='left'
)

In [12]:
df_ventas_productos_categoria = df_ventas_productos.merge(
    dim_category,
    left_on='CATEGORY',
    right_on='ID_CATEGORY',
    how='left'
)

In [16]:
# Renombrar la columna de categoría para que coincida con DIM_SEGMENT
df_ventas_productos_categoria.rename(columns={'CATEGORY_x': 'CATEGORY'}, inplace=True)

# Ahora sí se puede hacer la unión
df_completo = df_ventas_productos_categoria.merge(
    dim_segment,
    on=['CATEGORY', 'ATTR1', 'ATTR2', 'ATTR3', 'FORMAT'],
    how='left'
)

In [17]:
df_completo = df_completo.merge(
    dim_calendar,
    on='WEEK',
    how='left'
)

In [29]:
if 'DATE' in df_completo.columns:
    df_completo['DATE'] = pd.to_datetime(df_completo['DATE'], errors='coerce')

In [20]:
cat_cols = ['REGION', 'MANUFACTURER', 'BRAND', 'CATEGORY', 'FORMAT', 'ATTR1', 'ATTR2', 'ATTR3', 'SEGMENT']
for col in cat_cols:
    if col in df_completo.columns:
        df_completo[col] = df_completo[col].astype('category')

In [21]:
df_completo['YEAR'] = df_completo['DATE'].dt.year
df_completo['MONTH'] = df_completo['DATE'].dt.month
df_completo['WEEK_NUM'] = df_completo['DATE'].dt.isocalendar().week

In [28]:
df_completo['AVG_UNIT_PRICE'] = df_completo['TOTAL_VALUE_SALES'] / df_completo['TOTAL_UNIT_SALES']

In [23]:
ventas_por_categoria = df_completo.groupby(['YEAR', 'CATEGORY'])['TOTAL_VALUE_SALES'].sum().reset_index()

C:\Users\Rafael\AppData\Local\Temp\ipykernel_10780\4155473083.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ventas_por_categoria = df_completo.groupby(['YEAR', 'CATEGORY'])['TOTAL_VALUE_SALES'].sum().reset_index()

In [24]:
print(df_completo[['DATE', 'YEAR', 'MONTH', 'WEEK_NUM', 'AVG_UNIT_PRICE']].head())

        DATE  YEAR  MONTH  WEEK_NUM  AVG_UNIT_PRICE
0 2022-08-28  2022      8        34       23.166667
1 2022-08-28  2022      8        34      239.258727
2 2022-08-28  2022      8        34       49.211359
3 2022-08-28  2022      8        34       67.318182
4 2022-08-28  2022      8        34       89.758959

In [27]:
# Guardar archivo Excel
df_completo.to_excel('datos_consolidados.xlsx', index=False)

In [26]:
import os
print(os.listdir())

['.anaconda', '.conda', '.condarc', '.continuum', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.ms-ad', '.virtual_documents', 'anaconda3', 'AppData', 'Configuración local', 'Contacts', 'Cookies', 'Datos de programa', 'datos_consolidados.xlsx', 'Desktop', 'DIM_CALENDAR.xlsx', 'DIM_CATEGORY.csv', 'DIM_PRODUCT.xlsx', 'DIM_SEGMENT.xlsx', 'Documentos - Acceso directo.lnk', 'Documents', 'Downloads', 'Entorno de red', 'FACT_SALES.csv', 'Favorites', 'Impresoras', 'IntelGraphicsProfiles', 'Links', 'Menú Inicio', 'Microsoft', 'Mis documentos', 'Music', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{73acdb93-e298-11ef-ae0c-b7704cacf9ce}.TM.blf', 'NTUSER.DAT{73acdb93-e298-11ef-ae0c-b7704cacf9ce}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{73acdb93-e298-11ef-ae0c-b7704cacf9ce}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'Plantillas', 'Reciente', 'Saved Games', 'Searches', 'SendTo', 'SYB66_246_202310_Population Growth, Fertility and Mortality Indicators.csv', 'Tarea M24-CD-Rafael Salinas.ipynb', 'Untitled Folder', 'Untitled.ipynb', 'Videos']